*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #575FCF;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    max-width: 463px;
    height: 486px;
    margin: 200px auto;
    background-color: blue;
}

form:hover{
    outline: none;
    border: 2px solid turquoise;
    
}


input{
    border-radius: 10px;
    margin-bottom: 10px;
    width: 390px;
    height: 88px;
    background-color: white;
    padding: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

}

input:hover{
    outline: none;
    border: 2px solid turquoise;
}

label{
    background-color: blue;
}

button{
    background-color: #FBC531;
    width: 390px;
    height: 65px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}

button:hover{
    outline: none;
    border: 2px solid turquoise;
}